<!-- the missing puppy block satrt-->

<section class="block">
  <!-- the missing container puppy satrt -->

  <div class="container grid grid--1x3 puppy">
    <div class="puppy__item">
      <img
        src="./public/images/puppy-1.jpg"
        alt="the white puppy her hand is human hand"
      />
    </div>
    <div class="puppy__missing">
      <p>Puppy missing here!!</p>
    </div>
    <div class="puppy__item">
      <img
        src="./public/images/puppy-2.jpg"
        alt="the puppy playing with someone or something"
      />
    </div>
  </div>

  <!-- the missing container puppy end -->
</section>

<!-- the missing puppy block end-->
